body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.filters {
    margin-bottom: 20px;
    text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    margin: 5px 0;
}

/* Стили для стикнутой кнопки */
.performance-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 15px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.performance-button:hover {
    background-color: #0056b3;
}

/* Стили для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Включаем прокрутку, если содержимое больше высоты окна */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Отступ сверху и выравнивание по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина модального окна */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Стили для контейнера с графиками */
.performance-results {
    max-height: 70vh;
    overflow-y: auto;
}